The liabaries you have to install are-
pyautogui
psutil
after you have installed it the libaries, rename the mouse.py file to mouse.pyw
Create a shortcut for mouse.pyw and support.py
Paste the shortcuts in the startup folderof your computer which is in the start menu. It can be searched on the search tab in files explorer.
